:root {
	/* Стандартные цвета */
	--basic-darkblue: #293449;
	--basic-lightblue: #32425C;
	--basic-white: #ffffff;
	--basic-black: #000000;
	--basic-red: #EE3643;
	--basic-green: #63A63E;
	--header-basic: #f3f7f9;
	/* main promo */
	--materials: #ffbf47;
	--tools: #3bbce3;
	--technics: #dc91d8;
	--sales: #8ed78f;
	--delivery: #ffc047;
	/* --header-basic: rgba(0,0,0,0.0001); */
	/* Цвета состояния header */
	--active-red: #ba2732;
	--header-hover-green: #5FBB2D;
	--header-active-darkblue: #161D29;
	--header-hover-blue: #3d546f;
	--active-greylight: #c5c5c5;
	--white-opacity: rgba(255,255,255,0.5);
	/* цвета состояния Main */
	--main-hover-red: #ca2c37;
	--active-darkgreen: #518534;
	
}

.body {
	min-width: 940px;
	margin: 0;
	padding: 0;
	color: var(--basic-white);
  	background-color: var(--basic-black);
	/* font-family: "Cuprum", "Arial", sans-serif; */
	/* font-family: "PT Sans", "Arial", sans-serif; */
}

.header-container {
	min-width: 940px;
	background-color: var(--header-basic);
	font-family: "Cuprum", "Arial", sans-serif;
}

.header-container a {
	text-decoration: none;
	color: var(--basic-white);
}

.button {
	font: inherit;
  	text-align: center;
  	vertical-align: middle;
  	border: none;
	text-decoration: none;
}

.main-button {
	background-color: var(--basic-red);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-white);
}

/* =============================== HEADER MENU ============================= */


.header-logo {
	background-color: var(--basic-red);
	box-shadow: inset 0px -5px 0px rgba(0,0,0,0.24);
}

.header-menu {
	min-width: 940px;
	background-color: var(--basic-darkblue);
}

.header-output {
	list-style: none;
	font-size: 18px;
	line-height: 24px;
}

.confirm-button {
	background-color: var(--basic-green);
	color: var(--basic-white);
	font-size: 18px;
	line-height: 24px;
}

.header-search {
	background-color: inherit;
	border: none;
	color: var(--basic-white);
	font-size: 18px;
	line-height: 24px;
}

.search-icon {			/* Это будет кнопкой в форме */	
	fill-opacity: 0.3;
	fill: white;
}


.header-bookmark::before {
	content: "";
	display: inline-block;
	width: 14px;
	height: 16px;
	background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;
	opacity: 0.3;
}

.header-cart::before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;	
	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	opacity: 0.3;
}

/* =================================== HEADER INFO =========================== */

.header-general-info {
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: var(--basic-red);
}

.header-contacts .header-phone {
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	color: var(--basic-red);
	border: 3px solid #ffffff;
	box-sizing: border-box;
}

.header-phone::before {
	content: "";
	display: inline-block;
	width: 19px;
	height: 20px;
	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
}

.header-adress {
	color: var(--basic-lightblue);
}

.header-info .enter-link,
.header-info .registration-link {
	color: var(--basic-black);
	background-color: var(--basic-white);
}

.useable-cart {
	background-color: var(--basic-red);
}

/* ============================ HEADER LOGIN =============================== */

.login-name a {
	background-color: var(--basic-white);
	color: var(--basic-black);
}


.login-item a {
	color: var(--basic-lightblue);
}

.login-item a:hover {
	color: var(--basic-red);
}

.login-name a:active,
.login-name a:focus,
.login-item a:active,
.login-item a:focus {
	color: #c5c5c5;
}

.login-list li:first-child {
	list-style: none;
}


/* =========================== HEADER NAVIGATION ============================= */

.header-navigation {
	width: 940px;
	background-color: var(--basic-lightblue);
	box-shadow: inset 0px -5px 0px var(--basic-darkblue);
}

.site-navigation {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 18px;
	line-height: 24px;
}

/* ============================ HEADER HOVER/LINK/FOCUS =================== */

.confirm-button:hover {
	background-color: var(--header-hover-green);
}

.confirm-button:active {
	color: var(--white-opacity);
}

.output-button:active {
	color: var(--white-opacity);
	background-color: var(--header-active-darkblue);
}

.output-button:hover.header-cart::before,
.output-button:hover.header-bookmark::before {
	opacity: 1;
}

.output-button:focus.header-cart::before,
.output-button:focus.header-bookmark::before {
	opacity: 0.3;
}

.search-icon:hover {			/* Это будет кнопкой в форме */					
	fill-opacity: 1;
}

.search-icon:focus {
	fill: var(--basic-red);		/* Это будет кнопкой в форме */	
}

.header-search:focus,
.header-search:active {
	background-color: var(--basic-white);
	color: var(--basic-black);
	border: none;
	outline: none;
}

.header-logo:active {
	background-color: var(--active-red);
}

.enter-link:hover,
.registration-link:hover {
	color: var(--basic-red);
}

.enter-icon,
.user-icon {
	fill: #C5C5C5;
}

.enter-link:hover .enter-icon,
.login:hover .enter-icon,
.login:hover .user-icon {
	fill: var(--header-hover-blue);
}

.enter-link:active .enter-icon,
.login:active .enter-icon,
.login:active .user-icon {
	fill: #C5C5C5;
}

.enter-link:active,
.enter-link:focus,
.registration-link:active,
.registration-link:focus {
	color: var(--active-greylight)
}

.site-navigation a:hover {
	background-color: var(--basic-darkblue);
}

.site-navigation a:active,
.site-navigation a:focus{
	background-color: var(--header-active-darkblue);
	color: var(--white-opacity);
}

/* ============================== MAIN PROMO ======================== */

/* .promo-slider {background-color: rgba(0,0,0,0.25);} */

.promo-slider { 		/* ================ Сделал временный флекс для удобства отображения */
	display: flex;
}

.promo-slider h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.materials {
	background-color: var(--materials);
	background-image: url("../img/materials-icon.svg");
	background-repeat: no-repeat;
	background-position: 80%;
}

.tools {
	background-color: var(--tools);
	background-image: url("../img/tools-icon.svg");
	background-repeat: no-repeat;
	background-position: 80%;
}

.technics {
	background-color: var(--technics);
	background-image: url("../img/technics-icon.svg");
	background-repeat: no-repeat;
	background-position: 80%;
}

.sales {
	background-color: var(--sales);
	background-image: url("../img/sales-icon.svg");
	background-repeat: no-repeat;
	background-position: 80%;
}

.delivery {
	background-color: var(--delivery);
	background-image: url("../img/delivery-icon.svg");
	background-repeat: no-repeat;
	background-position: 80%;
}

.promo-container {
	font-family: "Cuprum", "Arial", sans-serif;
}

.promo-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.promo-item {
	width: 300px;	/* =========== Задал размеры для удобства отображения */
	height: 123px;
}

.promo-item h3 {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: var(--basic-white);
}

.promo-item .button {
	text-transform: uppercase;
	color: var(--basic-white);
	background-color: rgba(255,255,255,0.3);
	font-size: 14px;
	line-height: 18px;
}

/* ====================== MAIN PROMO HOVER/LINK/FOCUS ================ */

.promo-button:hover {
	background-color: rgba(197,197,197,0.3);
}

.promo-button:active,
.promo-button:focus {
	background-color: rgba(169,169,169,0.3);
}

.main-button:hover {
	background-color: var(--main-hover-red);
}

.main-button:active,
.main-button:focus {
	background-color: var(--active-red);
}

/* =========================== MAIN CATALOG ========================= */

.popular-item {
	background-color: #f9f5f0;
	font-family: "Cuprum", "Arial", sans-serif;
}

.popular-item h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.product-list {
	padding: 0;
	width: 940px;
	display: flex;		/* ================ Сделал временный флекс для удобства отображения */
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: "Cuprum", "Arial", sans-serif;
	list-style: none;
}

.product-item {
	position: relative;
	display: flex;		/* ================ Сделал временный флекс для удобства отображения */
	flex-direction: column;
	justify-content: center;
  	align-items: center;
	width: 220px;
	height: 318px; 
	font-family: "PT Sans", "Arial", sans-serif;
	background-color: var(--basic-white);
	border: 1px solid #eaeaea;
	box-sizing: border-box;
	text-align: center;
}

.product-item h3 {
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
}

.product-item span {
	font-size: 17px;
	line-height: 18px;
	text-decoration-line: line-through;
	text-transform: uppercase;
	color: #a9a9a9;
}

.hidden-item {
	display: flex;		/* ================ Сделал временный флекс для удобства отображения */
	flex-direction: column;
	justify-content: flex-start;
	position: absolute;
	visibility: hidden;
}

.buy {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-white);
	background-color: var(--basic-green);
	box-shadow: inset 0px -3px 0px #367315;
	border-radius: 2px;
}

.bookmark {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-lightblue);
	border: 3px solid var(--basic-green);
	border-radius: 2px;
	box-sizing: border-box;
}

.red-button {
	background-color: var(--basic-red);
	color: var(--basic-white);
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
}

.span {
	visibility: hidden;
}

/* ============================ MAIN CATALOG HOVER/LINK/FOCUS ============= */

.product-item:hover .hidden-item {
	visibility: visible;
}

.product-item:hover {
	filter: drop-shadow(0px 4px 20px rgba(0,0,0,0.15));
}

.product-item:hover img {
	visibility: hidden;
}

.buy:hover {
	background-color: var(--header-hover-green);
	box-shadow: inset 0px -3px 0px #367315;
	border-radius: 2px;
}

.buy:active,
.buy:focus {
	background-color: var(--active-darkgreen);
	box-shadow: inset 0px -3px 0px #367315;
}

.bookmark:hover {
	border: 3px solid var(--basic-lightblue);
	box-sizing: border-box;
	border-radius: 2px;
}

.bookmark:active,
.bookmark:focus {
	border: 3px solid var(--basic-lightblue);
	box-sizing: border-box;
	border-radius: 2px;
	opacity: 0.5;
}

/* ======================= MANUFACTURER ======================== */

.popular-manufacturer {
	background-color: #f9f5f0;
	font-family: "Cuprum", "Arial", sans-serif;
}

.popular-manufacturer h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.manufacturer-item {
	display: flex;
	justify-content: center;
  	align-items: center;
	width: 220px;
	height: 145px;
	border: 1px solid #eaeaea;
	box-sizing: border-box;
}

.manufacturer-list {
	padding: 0;
	width: 940px;	/* ================ Сделал временный флекс для удобства отображения */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
}

.manufacturer-item:hover {
	box-shadow: 0px 4px 20px rgba(0,0,0,0.15);
}

.manufacturer-item:active,
.manufacturer-item:focus {
	opacity: 0.5;
	box-shadow: 0px 4px 20px rgba(0,0,0,0.15);
}

/* ========================== SERVICE-DELIVERY =========================== */

.service-delivery-container {
	background-color: #f1f5f7;
	font-family: "Cuprum", "Arial", sans-serif;
}

.service-container h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
}

.service-delivery-container::before {
	position: absolute;
	content: "";
/*
	width: 468px;  ========= Размеры картинки грузовика
	height: 261px;
*/
	width: 1200px; /* Временные размеры блока для позиционирования грузовика */
	height: 522px;
	background-image: url("../img/Delivery-track.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.delivery-container h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-lightblue);
}

.service-container p,
.delivery-container p {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.service-delivery-list {
	width: 240px;	/* Задал размер для удобства */
	list-style: none;
}

.service-delivery-item {
	padding: 10px;
	background-color: var(--basic-lightblue);
	box-shadow: inset 0px 1px 0px #405069;
	filter: drop-shadow(0px 1px 0px var(--basic-darkblue));
}

.service-delivery-item a {
	color: var(--basic-white);
	text-decoration: none;
}

.service-delivery-item:hover {
	background-color: var(--basic-darkblue);
}

.service-delivery-item:active,
.service-delivery-item:focus {
	background-color: var(--basic-white);
	box-shadow: inset 0px 1px 0px var(--basic-white);
	filter: drop-shadow(0px 1px 0px var(--basic-white));
}

.service-delivery-item:active a,
.service-delivery-item:focus a {
	color: var(--basic-lightblue);
}

/* ======================================== INFO ========================== */

.info-container {
	font-family: "Cuprum", "Arial", sans-serif;
}

.info-company h2,
.info-contacts h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
}

.info-company p,
.info-contacts p {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.info-list {
	list-style: none;
	position: relative;
}

/* ============================ FOOTER TOP ================================= */

.footer-container {
	font-family: "Cuprum", "Arial", sans-serif;
}

.footer-container a {
	text-decoration: none;
}

.footer-top {
	background-color: var(--basic-lightblue);
}

.footer-logo {
	background-color: var(--basic-red);
	box-shadow: inset 0px -5px 0px rgba(0,0,0,0.24);
}

.vk-icon-shape,
.fb-icon-shape,
.inst-icon-shape {
	fill: #212A3A;
}

.social-icon-item:hover .vk-icon-shape,
.social-icon-item:active .vk-icon-shape,
.social-icon-item:hover .fb-icon-shape,
.social-icon-item:active .fb-icon-shape,
.social-icon-item:hover .inst-icon-shape,
.social-icon-item:active .inst-icon-shape {
	fill: var(--basic-red);
}

/*
.vk-icon-shape:hover,
.vk-icon-shape:active,
.fb-icon-shape:hover,
.fb-icon-shape:active,
.inst-icon-shape:hover,
.inst-icon-shape:active {
	fill: var(--basic-red);
}
*/

.footer-adress h2,
.footer-navigation h2 {
	display: none;
}

.footer-adress p {
	color: #f3f7f9;
	font-size: 18px;
	line-height: 24px;
}

.footer-phone {
	color: var(--basic-white);
}

.firstlist,
.secondlist {
	list-style: none;
}

.firstlist a {
	font-size: 18px;
	line-height: 24px;
	color: #f1f5f7;
}

.secondlist a {
	font-size: 18px;
	line-height: 24px;
	color: #ffd180;
}

.firstlist-item:hover,
.secondlist-item:hover {
	text-decoration-line: underline;
}

.firstlist-item:active,
.secondlist-item:active,
.firstlist-item:focus,
.secondlist-item:focus {
	opacity: 0.5;
	text-decoration: none;
}

/* ================================ FOOTER BOTTOM ==================== */

.footer-bottom {
	background-color: var(--basic-darkblue);
	color: var(--basic-white);
	font-size: 16px;
	line-height: 18px;
}

.footer-link {
	color: #ffd180;
}

.social-icon h2 {
	display: none;
}

.social-icon-list {
	list-style: none;
}

.footer-link:hover {
	text-decoration-line: underline;
}

.footer-link:active,
.footer-link:focus {
	color: var(--basic-red);
	text-decoration: none;
}

/* =========================== CATALOG MAIN ============================= */

.catalog-container {
	font-family: "PT Sans", "Arial", sans-serif;
}

.breadcrumb {
	list-style: none;
}

.breadcrumb-item {
	text-transform: uppercase;
}

.breadcrumb-item a {
	text-decoration: none;
	color: var(--basic-black);
}

.catalog-main-name h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-lightblue);
	font-family: "Cuprum", "Arial", sans-serif;
}

.catalog-main-name {
	background-color: #f2f6f8;
}

.catalog-filter h2 {
	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;
	color: var(--basic-black);
}

.catalog-filter {
	background-color: #f7f3ec;
}

.catalog-hidden {
	display: none;
}

.sorting-list {
	list-style: none;
}

.sorting-item a {
	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;
	text-decoration: none;
	color: rgba(0,0,0,0.3);
	border-bottom: 1px dotted var(--basic-red);
}

.sorting-item a:hover {
	color: var(--basic-black);
	border-bottom: 1px solid var(--basic-red);
}

.sorting-item a:active,
.sorting-item a:focus {
	color: var(--basic-red);
	border: none;
}

.sorting {
	background-color: #f7f3ec;
}

.sorting h2 {
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.number-list {
	list-style: none;
}

.number-item {
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
	border-radius: 2px;
}

.number-item a {
	color: var(--basic-black);
	font-size: 13px;
	line-height: 18px;
	text-decoration: none;
}

.number-item:hover {
	border: 1px solid #c5c5c5;
}

.number-item:active,
.number-item:focus {
	border: 1px solid var(--basic-red);
}

.selected {
	border: none;
	background-color: var(--basic-red);
}

.selected a {
	color: var(--basic-white);
}

.selected:hover {
	border: none;
}

.catalog-info {
	background-color: #f1f5f7;
}

.catalog-info h2 {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.catalog-info p {
	font-size: 13px;
	line-height: 24px;
}